body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4; 
}

/*Contenedores*/

.contheader{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.boton1{
    height: 38px;
    background-color: #e8491d;
    border: 0;
    padding-left: 20%;
    padding-right: 20%;
    color: #fff;
}

/*header*/

header{
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}

header a{
    color: #fff;
    text-decoration: none;
 
}

header li{
   
    display: inline;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
}

header #marca{
    float: left;
}

header #marca h1{
    margin: 0 ;
}

header nav{
 float: right;
 margin-top: 10px;
}

header .resaltar, header .resaltar a{
    color: #1293d4;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}

/*imagen cabecera*/

#imagenCabecera{
    min-height: 400px;
    background: url('../image/6.jpg')no-repeat 0-400px;
    color: #000;
    text-align: center;
}

#imagenCabecera h2{
    padding: 70px;
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px #1293d4;
}

#imagenCabecera p{
    font-size: 40px;
    text-shadow: 2px 2px 1px #1293d4;
    
}

/*buscar*/
#buscar{
   
    border-radius: 1em;
    padding: 15px;
    color: #fff;
    background: rgba(126, 226, 233, 0.5);    
    width: 40%;
}
.selectBox, 
.regacc, 
.selectBox2, 
.column4, 
.column5,
.sl {
  width: 100%;
}



#buscar form select {
    float: left;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    
} 

#buscar input{
    float:left;
    margin-top: 15px;
    height: 30px;;
    width: 100%;
}
.boton1{
    float:left;
    margin-top: 15px;
    height: 25px;    
    
}
@media (min-width:900px){
    .selectBox, 
    .regacc, 
    .selectBox2, 
    .column4, 
    .column5, {
        width: 18%;
    }
    #buscar{
        width: 100%;
    }
}
/*cajas*/
#fotos{
    margin-top: 20px;
}

#fotos .cajasFotos{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#fotos .cajasFotos img{
    width: 90px;
}

/*footer*/

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #1293d4;
    text-align: center;
}



 