fieldset{
    margin: 1em;
    padding: 0.2em;
    border-radius: 1em;
    overflow: hidden;
    background: #7245db;
    color: #0c0101;
    filter:alpha(opacity=100);    
    font-size: 20px;
    opacity: 0.8    ;
}
.login{
    padding: 2em;
   
    color: #f8eeee;
    border-radius: 1    em;
    background: rgba(135, 83, 202, 0.9)
}
.login{
    padding: 2em;
}
.login .regacc{
    width: 98%;
}